<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <!-- Novo Pedido -->
        <div class="card  mt-5" style="width: 18rem;">
            <!-- <img src="../public/img/novoPedido.png" class="card-img-top" alt="..."> -->
            <div class="card-body text-center">
              <h5 class="card-title">Novo Pedido</h5>
              <a href="/pedidocabecalho" class="btn btn-primary">Iniciar um Novo Pedido</a>
            </div>
          </div>
    </div>

</body>
<%- include ('./partials/footer.ejs') %>
