<%- include ('./partials/header.ejs') %>
<body onload=loadIndex()>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <!-- Novo Pedido -->
        <div class="card  mt-5" style="width: 18rem;">
            <!-- <img src="../public/img/novoPedido.png" class="card-img-top" alt="..."> -->
            <div class="card-body text-center">
              <h5 class="card-title">Novo Pedido</h5>
              <a href="/pedidocabecalho" class="btn btn-primary">Iniciar um Novo Pedido</a>
            </div>
          </div>

        <!-- Lista de Pedidos  -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Data</th>
              <th scope="col">Cliente</th>
              <th scope="col">Valor</th>
              <th scope="col">*</th>
            </tr>
          </thead>
          <tbody id='tablePedidos'>
          </tbody>
        </table>

        <div><i class="fas fa-share-square"></i> Pendente</div>
        <div><i class="fas fa-check"></i> Enviado</div>
        <div><i class="fas fa-check-double"></i> Faturada</div>
        
    </div>

</body>
<%- include ('./partials/footer.ejs') %>
