<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
      <h1>Comercial - Pedido</h1>

<!-- Acordion Loop -->


       <h2><%temp%></h2>> 
        




</body>
<%- include ('./partials/footer.ejs') %>
